<div *ngIf="candidates.length === 0">No hay candidatos aún.</div>

<table *ngIf="candidates.length > 0" border="1" cellpadding="8">
      <thead>
            <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Seniority</th>
                  <th>Años</th>
                  <th>Disponible</th>
            </tr>
      </thead>
      <tbody>
            <tr *ngFor="let c of candidates">
                  <td>{{ c.name }}</td>
                  <td>{{ c.surname }}</td>
                  <td>{{ c.seniority }}</td>
                  <td>{{ c.years }}</td>
                  <td>{{ c.availability ? 'Sí' : 'No' }}</td>
            </tr>
      </tbody>
</table>