.spacer {
      flex: 1 1 auto;
}

.title {
      font-weight: bold;
      font-size: 24px;
}

.header-content {
      display: flex;
      align-items: center;
      width: 100%;
}

.header-icon {
      font-size: 24px;
}

.header-border-bottom {
      border-bottom: 5px solid black;
}